@use "base/variables" as v;
@use "base/mixins" as m;

.cards {
  &__grid {
    @include m.tablet {
      @include m.grid(3, 2rem);
    }
  }
}

.card {
  max-width: 35rem;
  margin: 0 auto 2rem auto;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include m.tablet {
    max-width: unset;
    margin: 0;
  }

  &__imagen {
    width: 100%;
    border: 0.5rem solid v.$blanco;
    transition: transform 300ms;
    -webkit-transition: transform 300ms;
    -moz-transition: transform 300ms;
    -ms-transition: transform 300ms;
    -o-transition: transform 300ms;

    &:hover {
      transform: rotate(4deg) scale(1.3);
      -webkit-transform: rotate(4deg) scale(1.3);
      -moz-transform: rotate(4deg) scale(1.3);
      -ms-transform: rotate(4deg) scale(1.3);
      -o-transform: rotate(4deg) scale(1.3);
    }
  }

  &__contenido {
    max-width: 90%;
    margin: -5rem auto 0 auto;
    background-color: v.$blanco;
    position: relative;
  }

  &__heading {
    @include m.headingCursiva;
    font-size: 3.4rem;
    padding: 2rem;
  }

  &__enlace {
      @include m.boton(v.$secundario, v.$blanco);
      display: block;
  }
}
